body {
    font-family: Arial, Helvetica, sans-serif;
}

dl {
    margin: 5px;
    padding: 10px;
    border: solid 1px darkblue;
    max-width: 300px;
    min-width: 300px;
    float: left;
}

dt {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

dd {
    margin-top: 2px;
}

dd a {
    text-decoration: none;
}

dd a:hover {
    color: black;
}