body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

dl {
    margin: 5px;
    padding: 10px;
    border: 1px solid springgreen;
    border-radius: 20px;
    background-color: beige;
    max-width: 300px;
    min-width: 300px;
    float: left;
}

dt {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color: seagreen;
}

dd {
    margin-top: 5px;
}

dd a {
    text-decoration: none;
    color: seagreen;
    padding: 5px;
}

dd a:hover {
    color: white;
    background-color: darkblue;
    padding: 5px;
}